@font-face {
  font-family: "iconfont"; /* Project id 3166412 */
  src: url("iconfont.woff2?t=1643444435573") format('woff2'), url("iconfont.woff?t=1643444435573") format('woff'), url("iconfont.ttf?t=1643444435573") format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-wodehuodong:before {
  content: "\e696";
}
.icon-wenzhang-copy:before {
  content: "\e643";
}
.icon-huodong:before {
  content: "\e679";
}
.icon-shipin:before {
  content: "\e625";
}
