@font-face {
  font-family: "iconfont"; /* Project id 3166412 */
  src: url('iconfont.woff2?t=1643451594167') format('woff2'),
       url('iconfont.woff?t=1643451594167') format('woff'),
       url('iconfont.ttf?t=1643451594167') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shipin1:after {
  content: "\e607";
}

.icon-guanyuwomen:after {
  content: "\e605";
}

.icon-wodehuodong:after {
  content: "\e696";
}

.icon-wenzhang-copy:after {
  content: "\e643";
}

.icon-huodong:after {
  content: "\e679";
}

